.op{
   border: 5px solid rgb(247, 78, 78);
   display: flex;
   border-radius: 7px;
gap: 2px;
   height: 400px;
 margin-top: 80px;
 justify-content: center;
}
.op:hover{
    background: url(link.jpg);
}

.item1{
    border: 2px solid rgb(228, 180, 180);
    font-size: 30px;
    padding: 30px;
    height: 50px;
    width: 50px;
    flex-wrap: 2;
    flex-shrink: 1;
    cursor: pointer;
    color: blue;
}
.item1:hover{
    color: red;
   
    color: grey;
    border: 2px solid ;
}
.image{
    height: 200px;
    border-radius: 10px;
}